astroid==2.3.2
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
django-crispy==1.8.1
gunicorn==20.0.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
mysql-connector-python==8.0.18
numpy==1.17.4
Pillow==6.2.1
pocketsphinx==0.1.15
protobuf==3.11.0
PyAudio==0.2.11
pygame==1.9.6
pylint==2.4.3
PyMySQL==0.9.3
pypiwin32==223
pyttsx3==2.71
pytz==2019.3
pywin32==227
requests==2.22.0
six==1.12.0
soupsieve==1.9.5
SpeechRecognition==3.8.1
tzlocal==2.0.0
urllib3==1.25.7
virtualenv==16.7.8
wikipedia==1.4.0
wrapt==1.11.2
